.codePortfolio {
    background-color: #996633;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 2.5em;
        font-family: 'Fredoka One', 'Arial Black';
        color: #fff;
        padding-top: 12%;
        padding-bottom: 2%;
    }

    ul {
        margin: 1em;
        padding: 0;
        list-style: none;
        display: flex;

        li {
            font-size: 1.5em;
            font-family: 'Fredoka One', 'Arial Black';
            color:#fff;
            margin-right: 1em;
            padding: .7em;
            border-radius: 1em;

            &.active {
                background-color: #339999;
                color: #fff;
            }
        }
    }

    .container {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            margin-top: 20%;
            width: 80%;
            border-radius: 2em;
            border: solid .5em transparent;

            &:hover {
                border: solid .5em #808080;
                transition: 0.6s all;
                cursor: pointer;
            }
        }

        h3 {
            font-family: 'Fredoka One', 'Arial Black';
            color:#fff;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 15%;
            margin-top: 5%;
            padding-bottom: 32%;
        }
    }

    .git {
        width: 8em;
        height: 3em;
        font-family: 'Fredoka One', 'Arial Black';
        font-size: 1.2em;
        border-radius: 10px;
        color: #339999;
        border: none;

            &:hover{
                color: #fff;
                background-color: #339999;
                transition: 0.6s all;
                cursor: pointer;
            }
    }
    }