.dropMenu {
    width: 16em;
    height: 100vh;
    background-color: #808080;
    position: fixed;
    top: 0;
    right: -16em;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.8);
    font-family: 'Fredoka One', 'Arial Black';

    &.active {
        right: 0;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 2em;
        font-weight: 300;
        color: #fff;
        width: 60%;

        li {
            margin-bottom: .8em;
            a {
                font-size: inherit;
                color: inherit;
                text-decoration: none;
            }

            &:hover {
                font-weight: 600;
            }
        }
    }
}