.intro {
    background-color: #339999;
    display: flex;
    
    .left {
        flex: 0.5;
        
        .imgContainer {
            width: 50%;
            padding-top: 35%;
            padding-left: 25%;

            img {
                width: 100%;  
                border: solid .5em #000;
                border-radius: 30%;
            }
        }
    }
    .right {
        flex: 0.6;
        h1 {
            padding-top: 30%;
            padding-bottom: 5%;
            font-family: 'Fredoka One', 'Arial Black';
            color: #fff;
            font-size: 2.5em;
        }
        p {
            padding-bottom: 2%;
            margin-right: 20%;
            color: #fff;
            font-family: 'Fredoka One', 'Arial Black';
            font-size: 1.5em;
        }
        h2 {
            padding-top: 5%;
            padding-bottom: 5%;
            color: #fff;
            font-family: 'Fredoka One', 'Arial Black';
            font-size: 1.5em;
        }
        .resume {
            width: 8em;
            height: 3em;
            font-family: 'Fredoka One', 'Arial Black';
            font-size: 1.2em;
            border-radius: 10px;
            color: #993333;
            border: none;

            &:hover{
                color: #fff;
                background-color: #993333;
                transition: 0.6s all;
                cursor: pointer;
            }
        }
    }

    @media (max-width: 500px) {
        display: flex;
        align-items: center;
        justify-content: center;

        .left {
            flex: 0;
            
            .imgContainer {
                width: 50%;
                margin-top: -17em;
                margin-left: 900%;
    
                img {
                    width: 2000%;  
                }
            }
        }
        .right {
            flex: 2;
            margin-top: 50%;
            padding-right: 25%;
            h1 {
                padding-top: 20%;
                margin-right: 20%;
                font-size: 2em;
            }
            p {
                margin-right: 0;
                font-size: 1em;
            }
            h2 {
                font-size: 1em;
            }
        }
    }
}

