.artPortfolio {
    background-color: #339999;
    display: flex;

    .left {
        flex: 0.5;
        
        .imgContainer {
            width: 100%;
            padding-top: 35%;
            padding-left: 10%;
            
            img {
                width: 45%;
                margin-left: 2%;
            }

            .fetch{
                    &:hover {
                        cursor: pointer;
                    }
                }
        }
    }

    .right {
        flex: 0.5;

        .textContainer {
            padding-left: 10%;
            padding-top: 10%;
        h1 {
            padding-top: 30%;
            padding-bottom: 5%;
            font-family: 'Fredoka One', 'Arial Black';
            color: #fff;
            font-size: 2.5em;
        }

        p {
            padding-bottom: 2%;
            margin-right: 20%;
            color: #fff;
            font-family: 'Fredoka One', 'Arial Black';
            font-size: 1.5em;
        }

        span {
            color: #996633;

            &:hover {
                cursor: pointer;
            }
        }
    }
    }
}