.topNav {
    background-color: white;
    color: #993333;
    width: 100%;
    height: 10em;
    position: fixed;
    top: 0;
    z-index: 3;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.8);
    font-family: 'Fredoka One', 'Arial Black';


.wrapper {
    padding-left: 2em;
    padding-right: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
    display: flex;
    align-items: center;

    .title {
        display: block;
        text-align: center;

        h2 {
            font-size: 2em;
            padding-bottom: .5em;
        }

        h3 {
            font-size: 1em;
        
        }
    }

    .logo {
      font-size: 2.5em;
      margin-right: 1em;
        img {
            padding-top: .05em;
            width: 3.9em;
            height: 3.9em;
        }
        }
    }


    .right {
        .hamburger {
            width: 2em;
            height: 2em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;

        span {
            width: 100%;
            height: .5em;
            background-color: #993333;
            transform-origin: left;
            transition: all 1s ease;
        }
    }
    } 
}

&.active {
    background-color: #808080;
    color: #fff;

    .hamburger {
      span {
        &:first-child {
          background-color: #fff;
          transform: rotate(45deg);
          height: .6em;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: #FFF;
          transform: rotate(-45deg);
          height: .6em;
        }
      }
    }
  }

  @media (max-width: 500px) {

    width: 75%;

    .wrapper {
      padding-right: 2em;   
  }
    
  }
}